body, html {
	margin: 0;
	padding: 0;
	overscroll-behavior: none;
	overflow: hidden;
}

.main--container{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
	pointer-events: none;
}

.main--title{
    color: white;
    font-size: 7em;
    font-family: 'Rubik Glitch', cursive;
    font-weight: 100;
    margin-left: 10%;
    width: 510px;
    line-height: 90px;
    transform: translateX(30%);
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.main--title.ended{
    transform: translateX(0);
    opacity: 1;
    mix-blend-mode: soft-light;
}

.main--title.ended:after {
    /* This value is the OPPOSITE color of our background */
    color: rgb(0, 255, 255); 
    
}


@media only screen and (max-width: 660px) {
	.main--title{
		font-size: 5em;
		line-height: 0.8em;
	}
}